extends layout

block content
  h3 a novitiate experiments
  h2(class="page2") This my first attempt at creating a website, hopefully with many more to come.
  section(class="parralax")
    div(class="parralax-inner2")
      ul
        li
          a(href="/") Home  
        li
          a(href='/questions') Questions 