extends layout

block content
  h1 sasqautch the legend 
  section(class="parralax")
    div(class="parralax-inner")
      h2
        a(href="https://en.wikipedia.org/wiki/Bigfoot")
          q The most elusive of natures beasts Sasqautch reigns as an echo of a time before man, and as a ghost of the hidden monster inside us all.
  h1(class="section2") have you seen it

  section(class="parralax")
    div(class="parralax-inner")
      h2
        a(href="http://www.bfro.net/gdb/")
          q The abyss of Sasqautch may yet be unseen, but may have already lay vision on you.
  
  h1 Not all who wonder are lost&#33
  
  section(class="parralax")
    div(class="parralax-inner2")
      ul
        li
          a(href="/about") about  
        li
          a(href="/questions") Questions 
