extends layout

block content
  h3 Will you answer the call of the Beast
  h2(class="page2") contact me
  br
  |cool@example.com
  br
  |Linkedin
  section(class="parralax")
    div(class="parralax-inner2")
      ul
        li
          a(href="/") Home  
        li
          a(href="/about") About 